<%- include('partials/header') %>

<div class="content">
    <div class="select-wrapper">
        <h1 class="family-title">Famille</h1>
        <form method="POST">
            <select name="family" id="family" class="select">
                <option value="" disabled selected hidden>-- Sélectionnez une famille --</option>
                <% families.forEach((family) => { %>
                <option value="<%= family.id %>"><%= family.name %></option>
                <% }) %>
            </select>
        </form>
    </div>
</div>

<div class="family-info">
    <h2 class="family-name">Nom de la famille: <%= defaultFamilyName %></h2>
    <ul class="family-members">
        <li>
            <span>Nom</span>
            <span>Prénom</span>
        </li>
        <% defaultFamilyMembers.forEach((member) => { %>
        <li>
            <span><%= member.lastname %></span>
            <span><%= member.firstname %></span>
        </li>
        <% }) %> 
    </ul>
    <p class="family-level">Niveau de la famille: <%= defaultFamilyLevel %></p>
</div>

<%- include('partials/footer') %>
